In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
from ipywidgets import interact
from ipywidgets import interact_manual
import matplotlib.pyplot as plt
import regex as re

In [2]:
df1 = pd.read_csv('deliveries.csv')
df1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [3]:
df2 = pd.read_csv('matches.csv')
df2

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

## 1.Which of the following is the right way to merge 2 datasets for getting better insights from the data

In [153]:
merged_df = pd.merge(df1, df2, left_on='match_id', right_on='id')
merged_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

## 2.The column which has the most missing values according to the data is:

In [154]:
df1.isna().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [155]:
df2.isna().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

## 3. City which hosted most number of seasons according to the data is:

In [14]:
df2.groupby(['city']).sum()

                    id  season  dl_applied  win_by_runs  win_by_wickets
city
Abu Dhabi         3263   14098           0          157              16
Ahmedabad         4863   24156           0          180              38
Bangalore        22299  132861           3         1263             232
Bengaluru       134379   28259           0           71              34
Bloemfontein       326    4018           0           14               6
Cape Town          858   14063           1          145              18
Centurion         1842   24108           1           81              49
Chandigarh       15325   92582           0          576             167
Chennai         113322  114724           0          871             142
Cuttack           2534   14086           0           73              20
Delhi           153898  149030           3         1040             227
Dharamsala        2949   18103           0          279              23
Durban            2147   30135           1          159              33
East London        432    6027           0           87               7
Hyderabad       161672  128927           2          751             226
Indore           32354   18145           0           31              58
Jaipur          143579   94622           1          540             202
Johannesburg      1279   16072           0           25              35
Kanpur            1358    8066           0            0              22
Kimberley          458    6027           0           53              10
Kochi             1301   10055           1          110              13
Kolkata         170209  155078           4          871             275
Mohali          102647   20187           0           45              41
Mumbai          176552  203344           0         1269             310
Nagpur             646    6030           0           15               6
Port Elizabeth     980   14063           0          200              22
Pune             58807   76563           0          622             125
Raipur            3229   12088           0           21              25
Rajkot            3075   20165           0           70              48
Ranchi            3439   14097           0           41              24
Sharjah           2804   12084           0           74              26
Visakhapatnam    28778   26203           2          282              30

### ANSWER == MUMBAI

## 4. Which year has the most number of matches played?

In [156]:
df2.groupby(['season'],sort=True).sum()

            id  dl_applied  win_by_runs  win_by_wickets
season
2008      5133           2          705             221
2009      8322           3          764             180
2010     12270           0          976             190
2011     19783           3         1098             265
2012     25493           0          960             241
2013     31882           0         1241             227
2014     29250           1          644             225
2015     32273           2          850             148
2016     36390           4          676             244
2017      1770           1          788             204
2018    475410           3          675             186
2019    676911           0          665             202

### ANSWER==2019

## 5. Maximum wins by Mumbai Indians in 2011 are

In [39]:
df2[(df2['winner']=='Mumbai Indians') & (df2['season']==2011)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
237,238,2011,Delhi,2011-04-10,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,bat,normal,0,Mumbai Indians,0,8,SL Malinga,Feroz Shah Kotla,AM Saheba,RB Tiffin,NaN
241,242,2011,Bangalore,2011-04-12,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,SR Tendulkar,M Chinnaswamy Stadium,HDPK Dharmasena,AL Hill,NaN
253,254,2011,Mumbai,2011-04-20,Pune Warriors,Mumbai Indians,Pune Warriors,bat,normal,0,Mumbai Indians,0,7,MM Patel,Wankhede Stadium,Asad Rauf,AM Saheba,NaN
256,257,2011,Mumbai,2011-04-22,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,8,0,Harbhajan Singh,Wankhede Stadium,Asad Rauf,AM Saheba,NaN
259,260,2011,Hyderabad,2011-04-24,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Mumbai Indians,37,0,SL Malinga,"Rajiv Gandhi International Stadium, Uppal",HDPK Dharmasena,AL Hill,NaN
272,273,2011,Mumbai,2011-05-02,Mumbai Indians,Kings XI Punjab,Kings XI Punjab,field,normal,0,Mumbai Indians,23,0,KA Pollard,Wankhede Stadium,HDPK Dharmasena,PR Reiffel,NaN
276,277,2011,Mumbai,2011-05-04,Mumbai Indians,Pune Warriors,Pune Warriors,field,normal,0,Mumbai Indians,21,0,R Sharma,Dr DY Patil Sports Academy,HDPK Dharmasena,SJA Taufel,NaN
281,282,2011,Mumbai,2011-05-07,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,32,0,AT Rayudu,Wankhede Stadium,K Hariharan,SJA Taufel,NaN
302,303,2011,Kolkata,2011-05-22,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,JEC Franklin,Eden Gardens,SK Tarapore,SJA Taufel,NaN
304,305,2011,Mumbai,2011-05-25,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,MM Patel,Wankhede Stadium,Asad Rauf,SJA Taufel,NaN

### ANSWER== 10

## 7.  What is the percentage of getting bat and field in feature 'toss_descision'?

In [41]:
df2['toss_decision'].value_counts(normalize=True)

field    0.612434
bat      0.387566
Name: toss_decision, dtype: float64

## 9. In which years where taking batting second have won more number of matches?

In [45]:
df2[(df2['winner']==df2['toss_winner'])].groupby(['season']).sum()

            id  dl_applied  win_by_runs  win_by_wickets
season
2008      2538           0          175             118
2009      4831           3          592              77
2010      6315           0          629              62
2011     10327           2          313             181
2012     11478           0          352             108
2013     15063           0          811              88
2014     14642           1          197             148
2015     15256           0          393              82
2016     20623           2           65             182
2017      1004           1           99             180
2018    253497           1           82             158
2019    406751           0           79             174

### ANSWER == 2015 2019

## 11. In 2019 which batsman scored highest number of runs by hitting 6's and 4's?

In [58]:
df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [56]:
df2[df2['season']==2019].groupby(['player_of_match']).sum()

                    id  season  dl_applied  win_by_runs  win_by_wickets
player_of_match
A Joseph         11310    2019           0           40               0
A Mishra         11344    2019           0            0               5
AB de Villiers   22652    4038           0           17               8
AD Russell       44771    8076           0           62              11
AS Yadav         11412    2019           0            0               6
CH Gayle         11140    2019           0           14               0
DA Warner        22663    4038           0           45               6
DL Chahar        11314    2019           0            0               7
F du Plessis     11414    2019           0            0               6
H Gurney         11312    2019           0            0               8
HH Pandya        33823    6057           0           77               9
Harbhajan Singh  22446    4038           0           22               7
Imran Tahir      11320    2019           0            0               5
J Bairstow       22299    4038           0          118               5
JC Buttler       11318    2019           0            0               4
JD Unadkat       11336    2019           0            0               7
JJ Bumrah        33900    6057           0            7               0
K Ahmed          11329    2019           0            0               9
K Paul           11321    2019           0           39               0
K Rabada         11311    2019           0            0               4
KA Pollard       11315    2019           0            0               3
KL Rahul         22659    4038           0            0              12
MA Agarwal       11145    2019           0            0               8
MS Dhoni         33805    6057           0           88               4
P Shaw           11146    2019           0            0               0
PA Patel         11330    2019           0            1               0
R Ashwin         11323    2019           0           12               0
RG Sharma        11335    2019           0           46               0
RR Pant          33883    6057           0           37               8
Rashid Khan      11144    2019           0            0               5
S Curran         11149    2019           0           14               0
S Dhawan         22654    4038           0           16               7
S Gill           11343    2019           0            0               7
S Gopal          11150    2019           0            0               7
S Hetmyer        11345    2019           0            0               4
SL Malinga       11322    2019           0            0               5
SPD Smith        11327    2019           0            0               5
SR Watson        22473    4038           0            0              12
SS Iyer          11328    2019           0            0               5
V Kohli          11326    2019           0           10               0
VR Aaron         11334    2019           0            0               3

### ANSWER === AD RUSSELL

## 12. Most number of wickets taken by a bowler is

In [163]:
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

## 14.  Bowlers with maximum number of extras:

In [157]:
df3[df3['bowler']=='SL Malinga'].sum()

match_id                                                       223736
inning                                                            165
batting_team        Kolkata Knight RidersKolkata Knight RidersSunr...
bowling_team        Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
over                                                             1584
ball                                                              399
batsman             SA YadavCR WoakesV ShankarSS IyerCJ AndersonYu...
non_striker         MK PandeyMK PandeyNV OjhaKK NairMN SamuelsS Dh...
bowler              SL MalingaSL MalingaSL MalingaSL MalingaSL Mal...
is_super_over                                                       0
wide_runs                                                           2
bye_runs                                                            0
legbye_runs                                                         0
noball_runs                                                         0
penalty_runs                                                        0
batsman_runs                                                        7
extra_runs                                                          2
total_runs                                                          9
player_dismissed    SA YadavCR WoakesV ShankarSS IyerCJ AndersonYu...
dismissal_kind      caughtcaughtcaughtcaughtcaughtcaughtcaughtcaug...
fielder             KA PollardKA PollardN RanaHarbhajan SinghKV Sh...
dtype: object

In [159]:
df3[df3['bowler']=='SR Watson'].sum()

match_id                                                        77356
inning                                                            120
batting_team        Mumbai IndiansDelhi DaredevilsDeccan ChargersR...
bowling_team        Royal Challengers BangaloreRoyal Challengers B...
over                                                             1084
ball                                                              308
batsman             KV SharmaKK NairAS YadavR DravidS ChanderpaulP...
non_striker         RG SharmaSS IyerA SymondsS ChanderpaulLRPL Tay...
bowler              SR WatsonSR WatsonSR WatsonSR WatsonSR WatsonS...
is_super_over                                                       0
wide_runs                                                           0
bye_runs                                                            0
legbye_runs                                                         0
noball_runs                                                         1
penalty_runs                                                        0
batsman_runs                                                        6
extra_runs                                                          1
total_runs                                                          7
player_dismissed    KV SharmaKK NairAS YadavR DravidS ChanderpaulP...
dismissal_kind      caughtcaughtcaughtcaughtcaughtrun outcaughtcau...
fielder             AF MilneKM JadhavKamran AkmalRA JadejaRA Jadej...
dtype: object

In [170]:
df3[df3['bowler']=='DJ Bravo'].sum()

match_id                                                       311018
inning                                                            193
batting_team        Kolkata Knight RidersChennai Super KingsKolkat...
bowling_team        Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
over                                                             2027
ball                                                              506
batsman             DB DasSK RainaWP SahaAB AgarkarShahid AfridiY ...
non_striker         RT PontingSP FlemingSC GangulyShoaib AkhtarAC ...
bowler              DJ BravoDJ BravoDJ BravoDJ BravoDJ BravoDJ Bra...
is_super_over                                                       0
wide_runs                                                           1
bye_runs                                                            0
legbye_runs                                                         0
noball_runs                                                         0
penalty_runs                                                        0
batsman_runs                                                        7
extra_runs                                                          1
total_runs                                                          8
player_dismissed    DB DasSK RainaWP SahaAB AgarkarShahid AfridiY ...
dismissal_kind      caughtcaughtcaughtcaughtcaughtcaughtcaughtcaug...
fielder             RV UthappaYV TakawaleSR TendulkarSR TendulkarD...
dtype: object

In [171]:
df3[df3['bowler']=='P Kumar'].sum()

match_id                                                        23313
inning                                                            120
batting_team        Sunrisers HyderabadRising Pune SupergiantMumba...
bowling_team        Gujarat LionsGujarat LionsGujarat LionsGujarat...
over                                                              883
ball                                                              288
batsman             S DhawanAM RahanePA PatelRV UthappaS DhawanMC ...
non_striker         DA WarnerRA TripathiJC ButtlerMK PandeyDA Warn...
bowler              P KumarP KumarP KumarP KumarP KumarP KumarP Ku...
is_super_over                                                       0
wide_runs                                                           0
bye_runs                                                            0
legbye_runs                                                         0
noball_runs                                                         0
penalty_runs                                                        0
batsman_runs                                                        3
extra_runs                                                          0
total_runs                                                          3
player_dismissed    S DhawanAM RahanePA PatelRV UthappaS DhawanMC ...
dismissal_kind      caughtcaughtcaughtcaughtcaughtcaughtcaughtcaug...
fielder             BB McCullumSK RainaJJ RoyBB McCullumJP Faulkne...
dtype: object

### ANSWER == SL MALINGA

In [80]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6448 entries, 11 to 179075
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          6448 non-null   int64
 1   inning            6448 non-null   int64
 2   batting_team      6448 non-null   object
 3   bowling_team      6448 non-null   object
 4   over              6448 non-null   int64
 5   ball              6448 non-null   int64
 6   batsman           6448 non-null   object
 7   non_striker       6448 non-null   object
 8   bowler            6448 non-null   object
 9   is_super_over     6448 non-null   int64
 10  wide_runs         6448 non-null   int64
 11  bye_runs          6448 non-null   int64
 12  legbye_runs       6448 non-null   int64
 13  noball_runs       6448 non-null   int64
 14  penalty_runs      6448 non-null   int64
 15  batsman_runs      6448 non-null   int64
 16  extra_runs        6448 non-null   int64
 17  total_runs        6448 non-null   int64
 18  player_dismissed  6448 non-null   object
 19  dismissal_kind    6448 non-null   object
 20  fielder           6448 non-null   object
dtypes: int64(13), object(8)
memory usage: 1.1+ MB

## 15. Which venue has hosted most number of IPL matches?

In [125]:
df2['venue'].value_counts(normalize=True)

Eden Gardens                                            0.101852
M Chinnaswamy Stadium                                   0.096561
Wankhede Stadium                                        0.096561
Feroz Shah Kotla                                        0.088624
Rajiv Gandhi International Stadium, Uppal               0.074074
MA Chidambaram Stadium, Chepauk                         0.064815
Sawai Mansingh Stadium                                  0.062169
Punjab Cricket Association Stadium, Mohali              0.046296
Maharashtra Cricket Association Stadium                 0.027778
Subrata Roy Sahara Stadium                              0.022487
Dr DY Patil Sports Academy                              0.022487
Kingsmead                                               0.019841
Punjab Cricket Association IS Bindra Stadium, Mohali    0.018519
SuperSport Park                                         0.015873
Sardar Patel Stadium, Motera                            0.015873
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     0.014550
Brabourne Stadium                                       0.014550
Saurashtra Cricket Association Stadium                  0.013228
Holkar Cricket Stadium                                  0.011905
Himachal Pradesh Cricket Association Stadium            0.011905
Rajiv Gandhi Intl. Cricket Stadium                      0.010582
M. A. Chidambaram Stadium                               0.010582
New Wanderers Stadium                                   0.010582
Feroz Shah Kotla Ground                                 0.009259
Barabati Stadium                                        0.009259
M. Chinnaswamy Stadium                                  0.009259
St George's Park                                        0.009259
Newlands                                                0.009259
JSCA International Stadium Complex                      0.009259
Sheikh Zayed Stadium                                    0.009259
Dubai International Cricket Stadium                     0.009259
IS Bindra Stadium                                       0.009259
Shaheed Veer Narayan Singh International Stadium        0.007937
Sharjah Cricket Stadium                                 0.007937
Nehru Stadium                                           0.006614
Green Park                                              0.005291
De Beers Diamond Oval                                   0.003968
Vidarbha Cricket Association Stadium, Jamtha            0.003968
Buffalo Park                                            0.003968
OUTsurance Oval                                         0.002646
ACA-VDCA Stadium                                        0.002646
Name: venue, dtype: float64

### ANSWER == Eden Gardens

## 16. In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?

In [127]:
df2[(df2['season']==2017) & (df2['team1']=='Sunrisers Hyderabad') & (df2['team2']=='Royal Challengers Bangalore')]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

### ANSWER  === Yuvraj Singh

## 18. What are the total runs scored by V Kohli when the bowler was JJ Burmah?

In [140]:
df1[(df1['batsman']=='V Kohli') & (df1['bowler']=='JJ Bumrah')].sum()

c:\users\gsind\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

match_id                                                    250990
inning                                                         106
batting_team     Royal Challengers BangaloreRoyal Challengers B...
bowling_team     Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
over                                                           700
ball                                                           253
batsman          V KohliV KohliV KohliV KohliV KohliV KohliV Ko...
non_striker      CH GayleCH GayleCH GayleCH GayleCH GayleAB de ...
bowler           JJ BumrahJJ BumrahJJ BumrahJJ BumrahJJ BumrahJ...
is_super_over                                                    0
wide_runs                                                        1
bye_runs                                                         0
legbye_runs                                                      1
noball_runs                                                      0
penalty_runs                                                     0
batsman_runs                                                   112
extra_runs                                                       2
total_runs                                                     114
dtype: object

### ANSWER == 112